<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.JPG">
        <p>THis is the page created for the wether application please provide your address in search bar to fetch its weather condition...</p>
    </div>
    
    {{>footer}}
</body>

</html>